body {
  position: relative;
  min-height: 100vh;
  background: #03103d;
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  padding-bottom: 20%;
}
.container-fluid {
  padding: 3% 10%;
}
.navbar-brand, h2 {
  font-weight: 700;
  font-size: 2.5rem;
}
/* Heading */
.mainbar {
  position: absolute;
  top: 0;
}
.nav-item {
  font-size: 1.2rem;
  padding: 0 18px;
}
.navbar {
  margin-bottom: 5%;
}
/* Content */
.login {
    padding-top: 20%;
}

.poster {
    box-shadow: 0 0 20px rgba(206, 206, 206, 0.25);
}
.up-btn {background-image: linear-gradient(to right, #ff0084 0%, #33001b  51%, #ff0084  100%)}
.up-btn {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px rgba(206, 206, 206, 0.25);
  border-radius: 10px;
  display: block;
}

.up-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.card {
  transition: 0.1s;
  background-size: 200% auto;
  display: block;
  border-radius: 15px;
  margin: 3% 1%;
  width:23%;
}
.card:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  margin: 2.5% 1%;
}
@media (min-width: 768px) and (max-width: 1216px) {
    .bodi {
        margin-top:10%;
    }
    .card {
      border-radius: 15px;
      margin: 3% 2.5%;
      width:45%;
    }
}

@media (min-width: 0px) and (max-width: 1023px){
    .bodi {
        margin-top:20%;
    }
    .card {
      border-radius: 15px;
      margin: 3% 2.5%;
      width:45%;
    }
}

/* Footer */
.footer {
  width: 100%;
  position:absolute;
  bottom:0;
  text-align: center;
  margin-top: 1%;
  background-color: black;
  color: white;
}
.fas {
  color: rgba(152, 152, 152, 0.42);
}
