<!DOCTYPE html>
<html lang="en" dir="ltr">


    {% include 'link.html' %}
    <body>
    {% include 'header.html' %}

    <section class='poster'>
      <img src="{{ url_for('static', filename='poster.jpg') }}" class='w-100' alt="">
    </section>

    <section class='bodi'>

      <div class="container-fluid">
             <form method="post" class="row" action={{url_for('home')}}>
               <button class='up-btn btn btn-lg btn-block text-uppercas col ' type="submit" name="button">Update</button>
                 <a href="{{url_for('login')}}" class='col up-btn btn btn-lg btn-block text-uppercas'>Dev Tools</a>
             </form>
      </div>

      <!-- Cards -->
      <div class="container-fluid">
        <div class="row card-deck">

          {% for com in coms: %}
          <div class="card box p-5 border-0" style="{{ com.color }}">
            <h3>{{ com.name }}</h3>
            <p>Open: {{ com.ope }}</p>
            <p>High: {{ com.high }}</p>
            <p>Low: {{ com.low }}</p>
            <p>{{ com.date }}</p>
          </div>
          {% endfor %}

        </div>
      </div>

    </section>
    {% include 'footer.html' %}

  </body>
</html>
